<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Completed Tasks - EightyHD</title>
</head>
<body>
    <h1>Completed Tasks</h1>
    <a href="/">Back to Task List</a>
    <ul>
        {% for task in completed %}
        <li>{{ task.task }} - {{ task.reward }} Points (Completed on: {{ task.complete_date.strftime('%Y-%m-%d %H:%M') }})</li>
        {% endfor %}
    </ul>
</body>
</html>